res/file-share/vendor/pdfjs-6.3.289/cmaps/LICENSE whitespace=-blank-at-eol
res/file-share/vendor/pdfjs-6.3.289/standard_fonts/LICENSE_LIBERATION whitespace=-blank-at-eol
res/file-share/vendor/pdfjs-6.3.289/wasm/LICENSE_OPENJPEG whitespace=-blank-at-eol
res/file-share/vendor/pdfjs-6.3.289/wasm/LICENSE_QCMS whitespace=-blank-at-eol
